<!--<md-progress-linear ng-if='$ctrl.bigScreenService.bigScreenItem.loading == true' md-mode="indeterminate"></md-progress-linear> -->
<div layout='column' ng-if='$ctrl.bigScreenService.bigScreenItem.loading == true' class='md-content-height' layout-padding
    layout-align="center center">
    <md-progress-circular ng-if='$ctrl.bigScreenService.bigScreenItem.loading == true' md-diameter="96"></md-progress-circular>
</div>
<!--<md-progress-circular ng-if='$ctrl.bigScreenService.bigScreenItem.loading == true' md-diameter="96"></md-progress-circular>-->
<md-list ng-show='$ctrl.bigScreenService.bigScreenItem.loading == false'>
    <md-list-item class="md-2-line">
        <img ng-src="https://files.coinmarketcap.com/static/img/coins/32x32/{{$ctrl.bigScreenService.bigScreenItem.current.id}}.png"
            class="md-avatar" />
        <div class="md-list-item-text" layout="column">
            <h3>{{$ctrl.bigScreenService.bigScreenItem.current.name}}</h3>
            <h4>{{$ctrl.bigScreenService.bigScreenItem.current.symbol}}</h4>

        </div>
        <div flex></div>
        <md-button ng-click='$ctrl.bigScreenService.openHoldingsMenu()' class='db-button holdings-margin-correction'>
            {{$ctrl.bigScreenService.bigScreenItem.current.symbol}} Holdings
        </md-button>
        <md-divider></md-divider>
    </md-list-item>
    <md-list-item class="md-2-line">
        <div class="md-list-item-text" layout="row">
            <div flex layout='column'>
                <h3 flex class='center current-price' ng-class='{"gain": $ctrl.bigScreenService.bigScreenItem.current.percent_change_24h > 0, "loss": $ctrl.bigScreenService.bigScreenItem.current.percent_change_24h < 0}'>${{$ctrl.bigScreenService.bigScreenItem.current.price_usd | number:2}}
                    <i ng-class='{"loss-icon": $ctrl.bigScreenService.bigScreenItem.current.percent_change_24h < 0}' class="material-icons md-18">&#xE86B;</i>
                </h3>
                <p class='center'>Current USD Price</p>
            </div>
        </div>

        <md-divider></md-divider>
    </md-list-item>
    <md-list-item class="md-2-line">
        <div class="md-list-item-text" layout="row">
            <div flex layout='column'>
                <h3 class='center' ng-class='{"gain": $ctrl.bigScreenService.bigScreenItem.current.percent_change_1h > 0, "loss": $ctrl.bigScreenService.bigScreenItem.current.percent_change_1h < 0}'>{{$ctrl.bigScreenService.bigScreenItem.current.percent_change_1h | number:2}}%
                    <i ng-class='{"loss-icon": $ctrl.bigScreenService.bigScreenItem.current.percent_change_1h < 0}' class="material-icons md-10">&#xE86B;</i>
                </h3>
                <p class='center'>1 Hour Percent Change</p>
            </div>
            <div flex layout='column'>
                <h3 class='center' ng-class='{"gain": $ctrl.bigScreenService.bigScreenItem.current.percent_change_24h > 0, "loss": $ctrl.bigScreenService.bigScreenItem.current.percent_change_24h < 0}'>{{$ctrl.bigScreenService.bigScreenItem.current.percent_change_24h | number:2}}%
                    <i ng-class='{"loss-icon": $ctrl.bigScreenService.bigScreenItem.current.percent_change_24h < 0}' class="material-icons md-10">&#xE86B;</i>
                </h3>
                <p class='center'>24 Hour Percent Change</p>
            </div>
        </div>
        <md-divider></md-divider>
    </md-list-item>
    <md-list-item class="md-2-line">
        <div class="md-list-item-text" layout="column">
            <h3 class='metric'>#{{$ctrl.bigScreenService.bigScreenItem.current.rank }}</h3>
            <p>Rank</p>
        </div>
        <md-divider></md-divider>
    </md-list-item>
    <md-list-item class="md-2-line">
        <div class="md-list-item-text" layout="column">
            <h3 class='metric'>{{$ctrl.bigScreenService.bigScreenItem.current.total_supply}}</h3>
            <p>Coin Supply</p>
        </div>
        <md-divider></md-divider>
    </md-list-item>
    <md-list-item class="md-2-line">
        <div class="md-list-item-text" layout="column">
            <h3 class='metric'>${{$ctrl.bigScreenService.bigScreenItem.current.market_cap_usd}}</h3>
            <p>Market Cap</p>
        </div>
        <md-divider></md-divider>
    </md-list-item>
    <!--<md-list-item class="md-2-line">
        <div class="md-list-item-text" layout="column">
            <canvas id="line" class="chart chart-line" chart-data="$ctrl.bigScreenService.bigScreenItem.chart_data" chart-labels="$ctrl.bigScreenService.bigScreenItem.chart_labels" chart-colors="$ctrl.bigScreenService.bigScreenItem.chart_color"
                chart-series="$ctrl.series" chart-options="$ctrl.options" chart-dataset-override="$ctrl.datasetOverride" chart-click="onClick">
            </canvas>
        </div>
        <md-divider></md-divider>
    </md-list-item>-->
</md-list>