<div>

    <md-list>
        <md-subheader class="md-no-sticky">Top 50 Coins</md-subheader>
        <md-input-container class="md-block" flex-gt-xs>
            <label>Search</label>
            <md-icon><i class="material-icons">&#xE8B6;</i></md-icon>
            <input ng-model="search">
            <!-- <md-button class='md-icon-button' ng-click='$ctrl.reusableDataService.trackCoin(crypto.Symbol)'>
                <i class="material-icons">&#xE5CD;</i>
            </md-button> -->
        </md-input-container>
        <div layout='row' layout-align='center center'>
            <md-button ng-click='$ctrl.changeOrderByTerm("percent_change_24h")' class='md-block'>Percent</md-button>
            <md-button ng-click='$ctrl.changeOrderByTerm("rank")' class='md-block'>Rank</md-button>
            
        </div>
        <md-divider></md-divider>
        <md-subheader ng-if="$ctrl.reusableDataService.cryptoObject.tracked_cryptos.length != 0" class="md-no-sticky">Tracked Coins</md-subheader>
        <md-list-item ng-if="crypto.tracked == true" ng-class='{"active-side-nav": $ctrl.bigScreenService.bigScreenItem.active_side_nav_index == $index}' class="md-2-line" ng-repeat='crypto in $ctrl.reusableDataService.cryptoObject.tracked_cryptos | orderBy: $ctrl.orderByTerm: $ctrl.reverseStatus' ng-click="$ctrl.bigScreenService.changeBigScreenItem(crypto, $index)">
            <img ng-src="https://files.coinmarketcap.com/static/img/coins/32x32/{{crypto.id}}.png" class="md-avatar" alt="{{item.who}}" />
            <div class="md-list-item-text" layout="column">
                <h3>{{crypto.symbol}}</h3>
                <p>{{crypto.name}}</p>
                <p ng-class='{"gain": crypto.percent_change_24h > 0, "loss": crypto.percent_change_24h < 0}'>{{crypto.percent_change_24h | number: 2}}% <i ng-class='{"loss-icon": crypto.percent_change_24h < 0}' class="material-icons md-10">&#xE86B;</i></p>
                
            </div>
            <div flex></div>
            <md-button class='md-icon-button' ng-click='$ctrl.reusableDataService.trackCoin(crypto)'>
                <i ng-class='{"rotate-icon": crypto.tracked == true, "unrotate-icon": crypto.tracked == false}' class="material-icons">add</i>
                <md-tooltip>Track Coin</md-tooltip>
            </md-button>
            
                <md-divider></md-divider>
        </md-list-item>
        <md-divider  layout-padding></md-divider>
        <md-divider></md-divider>
        <md-list-item ng-if="crypto.tracked == false" ng-class='{"active-side-nav": $ctrl.bigScreenService.bigScreenItem.active_side_nav_index == $index}' class="md-2-line" ng-repeat='crypto in $ctrl.reusableDataService.cryptoObject.top_cryptos | filter:search | orderBy: $ctrl.orderByTerm: $ctrl.reverseStatus' ng-click="$ctrl.bigScreenService.changeBigScreenItem(crypto, $index)">
            <img ng-src="https://files.coinmarketcap.com/static/img/coins/32x32/{{crypto.id}}.png" class="md-avatar" alt="{{item.who}}" />
            <div class="md-list-item-text" layout="column">
                <h3>{{crypto.symbol}}</h3>
                <p>{{crypto.name}}</p>
                <p ng-class='{"gain": crypto.percent_change_24h > 0, "loss": crypto.percent_change_24h < 0}'>{{crypto.percent_change_24h | number: 2}}% <i ng-class='{"loss-icon": crypto.percent_change_24h < 0}' class="material-icons md-10">&#xE86B;</i></p>
                
            </div>
            <div flex></div>
            <md-button class='md-icon-button' ng-click='$ctrl.reusableDataService.trackCoin(crypto)'>
                <i ng-class='{"rotate-icon": crypto.tracked == true, "unrotate-icon": crypto.tracked == false}' class="material-icons">add</i>
                <md-tooltip>Track Coin</md-tooltip>
            </md-button>
            
             <md-divider></md-divider>
        </md-list-item>
        
    </md-list>

</div>