<div>

    <!--<md-list>
        <md-subheader class="md-no-sticky">Top 100 Cryptos</md-subheader>
        <md-input-container class="md-block" flex-gt-xs>
            <label>Search</label>
            <md-icon><i class="material-icons">&#xE8B6;</i></md-icon>
            <input ng-model="search">
            <md-icon><i class="material-icons">&#xE5CD;</i></md-icon>
        </md-input-container>
        <md-divider></md-divider>
        <md-list-item class="md-2-line" ng-repeat='crypto in $ctrl.cryptoObject.all | filter:search | orderBy: crypto.SortOrder' ng-click="$ctrl.bigScreenService.changeBigScreenItem(crypto)">
            <img ng-src="http://www.cryptocompare.com{{crypto.ImageUrl}}" class="md-avatar" alt="{{item.who}}" />
            <div class="md-list-item-text" layout="column">
                <h3>{{crypto.Symbol}}</h3>
                <h4>{{crypto.CoinName}}</h4>

            </div>
             <md-divider></md-divider>
        </md-list-item>
        
    </md-list>-->

</div>