<div layout='row' layout-wrap layout-padding class='top-margin'>
    <div flex='100' class='text' ng-class="{'text-sm': httpService.screenIsSmall == true, 'text-xs': httpService.screenIsExtraSmall == true}">Bitcoin is currently</div>
    <div flex='100'>
        <div class='bitcoin' ng-class="{'bitcoin-md': httpService.screenIsMedium == true, 'bitcoin-sm': httpService.screenIsSmall == true, 'bitcoin-xs': httpService.screenIsExtraSmall == true}">${{bitcoin_price | number:2}}</div>
    </div>
    <!--<div flex='100' class='text' ng-class="{'text-sm': httpService.screenIsSmall == true, 'text-xs': httpService.screenIsExtraSmall == true}">{{time | date: 'medium'}}</div>-->
    <div flex='30' flex-xs='100' flex-sm='100' flex-md='100' flex-xl='45' flex-offset-xl='5' flex-lg='45' flex-offset-lg='10' flex-offset-md='0' flex-offset='20' flex-offset-xs='0' flex-offset-sm='0' layout='column'>
            <div  class='text-metric-percent' ng-class="{'text-metric-percent-sm': httpService.screenIsSmall == true, 'text-metric-percent-xs': httpService.screenIsExtraSmall == true, 'gain': dollar_change > 0, 'loss': dollar_change < 0}"><i ng-if='dollar_change > 0' class="material-icons gain md-48">change_history</i><i ng-if='dollar_change < 0' class="material-icons loss md-48">details</i> {{percent_change | number:2}}%</div>
            <md-divider></md-divider>
            <div class='text-metric-dollar' ng-class="{'text-metric-dollar-sm': httpService.screenIsSmall == true, 'text-metric-dollar-xs': httpService.screenIsExtraSmall == true, 'gain': dollar_change > 0, 'loss': dollar_change < 0}"><i ng-if='dollar_change > 0' class="material-icons gain md-18">change_history</i><i ng-if='dollar_change < 0' class="material-icons loss md-18">details</i>${{dollar_change | number:2}}</div>

                 
    </div>  
    <div flex='30' flex-xs='100' flex-sm='100' flex-md='100' flex-lg='40'>
        <canvas id="line" class="chart chart-line" chart-data="data"
        chart-labels="historic_labels" chart-colors="colors" chart-series="series" chart-options="options"
        chart-dataset-override="datasetOverride" chart-click="onClick">
        </canvas
    </div>  
</div>







<!--
<md-content layout='row' layout-align='center center' layout-wrap flex>
    <md-card flex='45' ng-if='data[0].length != 0'>
        <md-card-content>
            <div class='speed' ng-if='data[0].length != 0'>{{currentSpeed}} Mbs</div>
        </md-card-content>
    </md-card>
    <md-card flex='45' ng-if='data[0].length != 0'>
        <md-card-content>
            <canvas chart-colors="colors" id="bar" chart-options="optionsBar" class="chart chart-bar" chart-data="dataBar" chart-labels="labelsBar"
                chart-series="seriesBar">
            </canvas>
        </md-card-content>
    </md-card>
    <md-card flex='90' ng-if='data[0].length != 0'>
        <md-card-content>
            <canvas chart-colors="colors" id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series"
                chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick">
            </canvas </md-card>
        </md-card-content>
    </md-card>
</md-content>