
          <md-toolbar>
            <div class="md-toolbar-tools">
              <h2>Donate</h2>
              <span flex></span>
              <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
              </md-button>
            </div>
          </md-toolbar>
      
          <md-dialog-content>
            <div class="md-dialog-content" layout='column' layout-align='center center'>
              <img ng-src="https://files.coinmarketcap.com/static/img/coins/32x32/ethereum.png" class="md-avatar" />
              <p>
                 0x489383D13b4942767B4B302D8E24A7496B014cd1
              </p>
              <img ng-src="app/content/ether.jpg" class="md-avatar" />    
            </div>
          </md-dialog-content>
      
          <md-dialog-actions layout="row">
            <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
              Sweet
            </md-button>

          </md-dialog-actions>
