<div hide-xs hide-sm class='status-bar-padding' md-colors="{background: 'default-primary-400-1'}" layout='row' layout-align='center center'>
    <div flex='5' flex-offset='10' class='center weight-300'>
        1: {{$ctrl.test}}
    </div>
    <div flex='5' class='center'>
        &#8226     
    </div>  
    <div flex='5' class='center weight-300'>
        2: {{$ctrl.test}}
        
    </div>
    <div flex='5' class='center'>
        &#8226     
    </div>   
    <div flex='5' class='center weight-300'>
        3: {{$ctrl.test}}
        
    </div>
    
</div>