<!--<md-progress-linear ng-if='$ctrl.bigScreenService.bigScreenItem.loading == true' md-mode="indeterminate"></md-progress-linear> -->
<div layout='column' ng-if='$ctrl.bigScreenService.bigScreenItem.loading == true' class='md-content-height' layout-padding
    layout-align="center center">
    <md-progress-circular ng-if='$ctrl.bigScreenService.bigScreenItem.loading == true' md-diameter="150"></md-progress-circular>
    <!-- 
     <div ng-if='$ctrl.bigScreenService.bigScreenItem.loading == false' class='md-headline-xl'>{{$ctrl.bigScreenService.bigScreenItem.current.CoinName}}</div>
     <div ng-if='$ctrl.bigScreenService.bigScreenItem.loading == false' class='minor-metric'>{{$ctrl.bigScreenService.bigScreenItem.current.Symbol}}</div>
     <div ng-if='$ctrl.bigScreenService.bigScreenItem.loading == false' class='md-headline-xxl'>${{$ctrl.bigScreenService.bigScreenItem.price.PRICE | number:2}}</div>
     <div ng-if='$ctrl.bigScreenService.bigScreenItem.loading == false' layout='row' layout-padding>
          <div flex='33' class='metric' gain-loss-class metric='{{$ctrl.bigScreenService.bigScreenItem.price.CHANGE24HOUR}}'>${{$ctrl.bigScreenService.bigScreenItem.price.CHANGE24HOUR | number:2}} <i ng-class='{"loss-icon": $ctrl.bigScreenService.bigScreenItem.price.CHANGE24HOUR < 0}' class="material-icons">&#xE86B;</i></div>
          <div flex='33' class='metric' gain-loss-class metric='{{$ctrl.bigScreenService.bigScreenItem.price.CHANGE24HOUR}}'>{{$ctrl.bigScreenService.bigScreenItem.price.CHANGEPCTDAY | number:2}}% <i ng-class='{"loss-icon": $ctrl.bigScreenService.bigScreenItem.price.CHANGE24HOUR < 0}' class="material-icons">&#xE86B;</i></div>
          <div flex='33' class='metric' gain-loss-class metric='{{$ctrl.bigScreenService.bigScreenItem.price.CHANGE24HOUR}}'>${{$ctrl.bigScreenService.bigScreenItem.price.MKTCAP | number:2}}</div>     
     </div> -->

</div>
<!--<md-progress-circular ng-if='$ctrl.bigScreenService.bigScreenItem.loading == true' md-diameter="96"></md-progress-circular>-->
<md-list ng-if='$ctrl.bigScreenService.bigScreenItem.loading == false'>
    <md-list-item class="md-2-line">
        <img ng-src="https://files.coinmarketcap.com/static/img/coins/32x32/{{$ctrl.bigScreenService.bigScreenItem.current.id}}.png"
            class="md-avatar" />
        <div class="md-list-item-text" layout="column">
            <h3>{{$ctrl.bigScreenService.bigScreenItem.current.name}}</h3>
            <h4>{{$ctrl.bigScreenService.bigScreenItem.current.symbol}}</h4>

        </div>
        <div flex></div>
        <md-button ng-click='$ctrl.bigScreenService.openHoldingsMenu()' class='md-raised md-primary holdings-margin-correction'>
            Holdings
        </md-button>
        <md-divider></md-divider>
    </md-list-item>

</md-list>
<div ng-show='$ctrl.bigScreenService.bigScreenItem.loading == false' layout='row' layout-wrap>
    <md-grid-list flex='100' flex-lg='100' flex-md='100' flex-sm='100' flex-xs='100' md-cols="12" md-gutter="0px" md-row-height="4:3" class='report-gutter'>
        <!-- ==================================================NAME========================================================================-->

        <md-grid-tile class='coindb-card' md-rowspan="4" md-colspan="6" md-rowspan-lg="5" md-colspan-lg="6" md-rowspan-md="6"
            md-colspan-md="12" md-rowspan-sm="8" md-colspan-sm="6" md-rowspan-xs="15" md-colspan-xs="12" class='earnings-card'>

            <div ng-if='$ctrl.bigScreenService.bigScreenItem.loading == false' class='md-headline-xl'>{{$ctrl.bigScreenService.bigScreenItem.current.symbol}}</div>

            <md-grid-tile-footer>
                <div layout='row'>
                    <span>
                        <h3 class='metrics-title'>{{$ctrl.bigScreenService.bigScreenItem.current.name}}</h3>
                    </span>
                    <div flex></div>
                </div>
            </md-grid-tile-footer>
        </md-grid-tile>
        <!-- ==================================================1HR CHANGE========================================================================-->
        <md-grid-tile  class='coindb-card' md-rowspan="2" md-colspan="2" md-rowspan-lg="3" md-colspan-lg="2" md-rowspan-md="7"
            md-colspan-md="6" md-rowspan-sm="8" md-colspan-sm="6" md-rowspan-xs="15" md-colspan-xs="12" class='earnings-card'>

            <div class='metric' ng-class='{"gain": $ctrl.bigScreenService.bigScreenItem.current.percent_change_1h > 0, "loss": $ctrl.bigScreenService.bigScreenItem.current.percent_change_1h < 0}'>{{$ctrl.bigScreenService.bigScreenItem.current.percent_change_1h | number:2}}%
                <i ng-class='{"loss-icon": $ctrl.bigScreenService.bigScreenItem.current.percent_change_1h < 0}' class="material-icons">&#xE86B;</i>
            </div>
            <md-grid-tile-footer>
                <div layout='row'>
                    <span>
                        <h3 class='metrics-title'>1 Hour Percent Change</h3>
                    </span>
                    <div flex></div>
                </div>
            </md-grid-tile-footer>
        </md-grid-tile>
        <!-- ==================================================24 HR CHANGE========================================================================-->
        <md-grid-tile  class='coindb-card' md-rowspan="2" md-colspan="2" md-rowspan-lg="3" md-colspan-lg="2" md-rowspan-md="7"
            md-colspan-md="6" md-rowspan-sm="8" md-colspan-sm="6" md-rowspan-xs="15" md-colspan-xs="12" class='earnings-card'>

            <div class='metric' ng-class='{"gain": $ctrl.bigScreenService.bigScreenItem.current.percent_change_24h > 0, "loss": $ctrl.bigScreenService.bigScreenItem.current.percent_change_24h < 0}'>{{$ctrl.bigScreenService.bigScreenItem.current.percent_change_24h | number:2}}%
                <i ng-class='{"loss-icon": $ctrl.bigScreenService.bigScreenItem.current.percent_change_24h < 0}' class="material-icons">&#xE86B;</i>
            </div>
            <md-grid-tile-footer>
                <div layout='row'>
                    <span>
                        <h3 class='metrics-title'>24 Hour Percent Change</h3>
                    </span>
                    <div flex></div>
                </div>
            </md-grid-tile-footer>
        </md-grid-tile>
        <!-- ==================================================7 DAY CHANGE========================================================================-->
        <md-grid-tile  class='coindb-card' md-rowspan="2" md-colspan="2" md-rowspan-lg="3" md-colspan-lg="2" md-rowspan-md="7"
            md-colspan-md="6" md-rowspan-sm="8" md-colspan-sm="6" md-rowspan-xs="15" md-colspan-xs="12" class='earnings-card'>

            <div class='metric' ng-class='{"gain": $ctrl.bigScreenService.bigScreenItem.current.percent_change_7d > 0, "loss": $ctrl.bigScreenService.bigScreenItem.current.percent_change_7d < 0}'>{{$ctrl.bigScreenService.bigScreenItem.current.percent_change_7d | number:2}}%
                <i ng-class='{"loss-icon": $ctrl.bigScreenService.bigScreenItem.current.percent_change_7d < 0}' class="material-icons">&#xE86B;</i>
            </div>

            <md-grid-tile-footer>
                <div layout='row'>
                    <span>
                        <h3 class='metrics-title'>7 Day Percent Change</h3>
                    </span>
                    <div flex></div>
                </div>
            </md-grid-tile-footer>
        </md-grid-tile>
        <!-- ==================================================PRICE========================================================================-->
        <md-grid-tile  class='coindb-card' md-rowspan="4" md-colspan="6" md-rowspan-lg="4" md-colspan-lg="6" md-rowspan-md="7"
            md-colspan-md="6" md-rowspan-sm="8" md-colspan-sm="6" md-rowspan-xs="15" md-colspan-xs="12" class='earnings-card'>

            <div ng-if='$ctrl.bigScreenService.bigScreenItem.loading == false' class='md-headline-xxl'>${{$ctrl.bigScreenService.bigScreenItem.current.price_usd | number:2}}</div>

            <md-grid-tile-footer>
                <div layout='row'>
                    <span>
                        <h3 class='metrics-title'>Current USD Price</h3>
                    </span>
                    <div flex></div>
                </div>
            </md-grid-tile-footer>
        </md-grid-tile>
        <!-- ==================================================GRAPH========================================================================-->
        <md-grid-tile  class='coindb-card' md-rowspan="4" md-colspan="6" md-rowspan-lg="5" md-colspan-lg="6" md-rowspan-md="7"
            md-colspan-md="6" md-rowspan-sm="8" md-colspan-sm="6" md-rowspan-xs="15" md-colspan-xs="12" class='earnings-card'>

            <md-progress-circular ng-show='$ctrl.bigScreenService.bigScreenItem.loading_chart' md-diameter="90"></md-progress-circular>
            <canvas ng-show='!$ctrl.bigScreenService.bigScreenItem.loading_chart' id="line" class="chart chart-line" chart-data="$ctrl.bigScreenService.bigScreenItem.chart_data"
                chart-labels="$ctrl.bigScreenService.bigScreenItem.chart_labels" chart-colors="$ctrl.bigScreenService.bigScreenItem.chart_color"
                chart-series="$ctrl.series" chart-options="$ctrl.options" chart-dataset-override="$ctrl.datasetOverride" chart-click="onClick">
            </canvas>
            <!--{{$ctrl.bigScreenService.bigScreenItem.chart_data}}-->
        </md-grid-tile>

        <!-- ==================================================RANK========================================================================-->

        <md-grid-tile  class='coindb-card' md-rowspan="2" md-colspan="2" md-rowspan-lg="3" md-colspan-lg="2" md-rowspan-md="7"
            md-colspan-md="6" md-rowspan-sm="8" md-colspan-sm="6" md-rowspan-xs="15" md-colspan-xs="12" class='earnings-card'>

            <div class='metric'>#{{$ctrl.bigScreenService.bigScreenItem.current.rank }}</div>

            <md-grid-tile-footer>
                <div layout='row'>
                    <span>
                        <h3 class='metrics-title'>Rank</h3>
                    </span>
                    <div flex></div>
                </div>
            </md-grid-tile-footer>
        </md-grid-tile>
        <!-- ==================================================SUPPLY========================================================================-->
        <md-grid-tile  class='coindb-card' md-rowspan="2" md-colspan="2" md-rowspan-lg="3" md-colspan-lg="2" md-rowspan-md="7"
            md-colspan-md="6" md-rowspan-sm="8" md-colspan-sm="6" md-rowspan-xs="15" md-colspan-xs="12" class='earnings-card'>

            <div class='metric'>{{$ctrl.bigScreenService.bigScreenItem.current.total_supply}}</div>

            <md-grid-tile-footer>
                <div layout='row'>
                    <span>
                        <h3 class='metrics-title'>Coin Supply</h3>
                    </span>
                    <div flex></div>
                </div>
            </md-grid-tile-footer>
        </md-grid-tile>
        <!-- ==================================================MARKET CAP========================================================================-->
        <md-grid-tile  class='coindb-card' md-rowspan="2" md-colspan="2" md-rowspan-lg="3" md-colspan-lg="2" md-rowspan-md="7"
            md-colspan-md="6" md-rowspan-sm="8" md-colspan-sm="6" md-rowspan-xs="15" md-colspan-xs="12" class='earnings-card'>

            <div class='metric'>${{$ctrl.bigScreenService.bigScreenItem.current.market_cap_usd}}</div>

            <md-grid-tile-footer>
                <div layout='row'>
                    <span>
                        <h3 class='metrics-title'>Market Cap</h3>
                    </span>
                    <div flex></div>
                </div>
            </md-grid-tile-footer>
        </md-grid-tile>

    </md-grid-list>
</div>