<md-bottom-sheet md-whiteframe="6" class="md-list md-has-header">
    <md-subheader ng-cloak>Settings</md-subheader>
    <md-list ng-cloak>
        <md-list-item>
            <md-button ng-click='$ctrl.showChangeAccountDialog($event)' class="md-list-item-content">
                <md-icon>
                    <i class="material-icons">change_history</i>
                </md-icon>
                <span class="md-inline-list-icon-label">Change Account Code</span>
            </md-button>
        </md-list-item>
        <md-list-item>
            <md-button ng-href="https://github.com/thefreymaster/coindatabaseangular" class="md-list-item-content">
                <md-icon>
                    <i class="material-icons">storage</i>
                </md-icon>
                <span class="md-inline-list-icon-label">Github</span>
            </md-button>
        </md-list-item>
        <md-list-item>
            <md-button ng-href="http://www.evanfreymiller.com" target='_blank' class="md-list-item-content">
                <md-icon>
                    <i class="material-icons">fingerprint</i>
                </md-icon>
                <span class="md-inline-list-icon-label">Creator</span>
            </md-button>
        </md-list-item>
        <md-list-item>
            <md-button class="md-list-item-content" ng-click="$ctrl.showDonateDialog($event)">
                <md-icon>
                    <i class="material-icons">account_balance_wallet</i>
                </md-icon>
                <span class="md-inline-list-icon-label">Donate</span>
            </md-button>
        </md-list-item>
    </md-list>
    <!-- <div ng-cloak>
        <md-list flex layout="column" layout-align="center center">

            <md-list-item>
                <a href='https://github.com/thefreymaster/coindatabaseangular' target='_blank'>
                    <md-button ng-click="listItemClick($index)" md-autofocus="$index == 2" class="md-list-item-content">
                        <md-icon>
                            <i class="material-icons">storage</i>
                        </md-icon>
                        <span class="md-inline-list-icon-label">Github}</span>
                    </md-button>
                </a>
            </md-list-item>
            <md-list-item>
                <a href='http://www.evanfreymiller.com' target='_blank'>
                    <md-button class="md-raised md-primary md-grid-item-content settings-button-padding">
                        <md-icon>
                            <i class="material-icons">fingerprint</i>
                        </md-icon>
                        <div class="md-grid-text">Creator</div>
                    </md-button>
                </a>
            </md-list-item>
            <md-list-item>
                <div>
                    <md-button class="md-raised md-primary md-grid-item-content settings-button-padding" ng-click="$ctrl.showDonateDialog($event)">
                        <md-icon>
                            <i class="material-icons">account_balance_wallet</i>
                        </md-icon>
                        <div class="md-grid-text">Donate</div>
                    </md-button>
                </div>
            </md-list-item>



        </md-list>
    </div> -->
</md-bottom-sheet>