<md-bottom-sheet md-whiteframe="6" class="md-grid md-has-header" layout="column">
        <h5>CoinDB Settings</h5>
        <md-divider></md-divider>
        <div ng-cloak>
            <md-list flex layout="row" layout-align="center center">
                <!--<md-list-item>
                    <div>
                        <md-button class="md-raised md-primary md-grid-item-content settings-button-padding" ng-click="null">
                            <md-icon><i class="material-icons">delete_forever</i></md-icon>
                            <div class="md-grid-text">Delete</div>
                        </md-button>
                    </div>
                </md-list-item>-->
                <md-list-item>
                        <a href='https://github.com/thefreymaster/coindatabaseangular' target='_blank'>
                            <md-button class="md-raised md-primary md-grid-item-content settings-button-padding" >
                                <md-icon><i class="material-icons">storage</i></md-icon>
                                <div class="md-grid-text">Github</div>
                            </md-button>
                        </a>
                </md-list-item>                
                <md-list-item>
                        <a href='http://www.evanfreymiller.com' target='_blank'>
                            <md-button class="md-raised md-primary md-grid-item-content settings-button-padding" >
                                <md-icon><i class="material-icons">fingerprint</i></md-icon>
                                <div class="md-grid-text">Creator</div>
                            </md-button>
                        </a>
                </md-list-item>
                <md-list-item>
                        <div>
                            <md-button class="md-raised md-primary md-grid-item-content settings-button-padding" ng-click="$ctrl.showDonateDialog($event)">
                                <md-icon><i class="material-icons">account_balance_wallet</i></md-icon>
                                <div class="md-grid-text">Donate</div>
                            </md-button>
                        </div>
                </md-list-item>   
    
            
            
            </md-list>
        </div>
    </md-bottom-sheet>