.bitcoin{
    font-size:200px;
    font-weight:900;
    text-align: center;
}
.bitcoin-md{
    font-size:200px;
    font-weight:900;
    text-align: center;
}
.bitcoin-sm{
    font-size:150px;
    font-weight:900;
    text-align: center;
}
.bitcoin-xs{
    font-size:68px;
    font-weight:900;
    text-align: center;
}
.text{
    font-size: 48px;
    font-weight: 100;
        text-align: center;

}

.top-margin{
        margin-top: 30px;
}
.top-margin-md{
        margin-top: 200px;
}
.top-margin-sm{
        margin-top: 100px;
}
.top-margin-xs{
        margin-top: 100px;
}
.gain{
    color:#5bda90;
}
.loss{
    color:#ff766c;

}
.metric{
    font-size: 30px;
    font-weight: 800;
}
.text-metric-percent{
    font-size: 100px;
    font-weight: 600;
    text-align: center;

}
main{
    min-height:90vh;
}
.text-metric-dollar{
    font-size: 48px;
    font-weight: 100;
    text-align: center;

}
.text-metric-dollar-sm{
    font-size: 32px !important;
    font-weight: 300  !important;
}
.text-metric-dollar-xs{
    font-size: 24px  !important;
    font-weight: 300  !important;
}
.text-metric-percent-sm{
    font-size: 56px !important;
    font-weight: 600  !important;
}
.text-metric-percent-xs{
    font-size: 56px !important;
    font-weight: 600  !important;
}
.text-sm{
    font-size: 32px !important;
    font-weight: 300  !important;
}
.text-xs{
    font-size: 24px  !important;
    font-weight: 300  !important;
}
.md-48{
    font-size:48px !important;
    vertical-align: middle;
}
.canvas{
    background-color: #3b3b3b !important;
}
.material-icons.md-18 { 
    font-size: 18px;
     vertical-align: middle;
     padding:5px;
}
.md-subheader{
    margin-bottom:5px;
}
a{
    text-decoration:none !important;
}
.md-subheader.md-default-theme, .md-subheader {
    color: rgba(255,255,255,0.7);
    background-color: rgb(56, 56, 56);
}
.label{
    background-color: #202020 !important;
}
.logo{
    max-width: 50px;
    margin-right: 10px;
}



.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #565454;
}
.scrollbar::-webkit-scrollbar {
    width: 10px;
}
.scrollbar::-webkit-scrollbar-track {
    background-color: #696969;
}
.md-headline-xl{
    font-size:100px;
    font-weight: 900;
}
.md-italic{
    font-style: italic;
    
}
.md-headline-xxl{
    font-size: 250px;
    font-weight: 100;
}
.md-content-height{
    min-height: 90vh;
}
.loss-icon{
    transform: rotate(180deg);
}







.right-margin-correction{
    margin-right: 15px;
}


