.bitcoin{
    font-size:200px;
    font-weight:900;
    text-align: center;
}
.bitcoin-md{
    font-size:200px;
    font-weight:900;
    text-align: center;
}
.bitcoin-sm{
    font-size:150px;
    font-weight:900;
    text-align: center;
}
.bitcoin-xs{
    font-size:68px;
    font-weight:900;
    text-align: center;
}
.text{
    font-size: 48px;
    font-weight: 100;
        text-align: center;

}
md-toolbar {
    opacity: .8;
}
.video-background {
    background: #000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99;
}
.video-foreground, .video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.top-margin{
        margin-top: 30px;
}
.top-margin-md{
        margin-top: 200px;
}
.top-margin-sm{
        margin-top: 100px;
}
.top-margin-xs{
        margin-top: 100px;
}
.gain{
    color:#5bda90 !important;
}
.loss{
    color:#ff766c !important;

}
.metric{
    font-size: 32px;
    font-weight: 800;
}
.text-metric-percent{
    font-size: 100px;
    font-weight: 600;
    text-align: center;

}
.holdings-margin-correction{
    margin-top: 18px;
    margin-left: -12px;
}
main{
    min-height:90vh;
}
.text-metric-dollar{
    font-size: 48px;
    font-weight: 100;
    text-align: center;

}
.text-metric-dollar-sm{
    font-size: 32px !important;
    font-weight: 300  !important;
}
.text-metric-dollar-xs{
    font-size: 24px  !important;
    font-weight: 300  !important;
}
.text-metric-percent-sm{
    font-size: 56px !important;
    font-weight: 600  !important;
}
.text-metric-percent-xs{
    font-size: 56px !important;
    font-weight: 600  !important;
}
.text-sm{
    font-size: 32px !important;
    font-weight: 300  !important;
}
.text-xs{
    font-size: 24px  !important;
    font-weight: 300  !important;
}
.md-48{
    font-size:48px !important;
    vertical-align: middle;
}
.canvas{
    background-color: #3b3b3b !important;
}
.material-icons.md-18 { 
    font-size: 18px;
     vertical-align: middle;
     padding:5px;
}
.md-subheader{
    margin-bottom:5px;
}
a{
    text-decoration:none !important;
}
.md-subheader.md-default-theme, .md-subheader {
    color: rgba(255,255,255,0.7);
    background-color: rgb(56, 56, 56);
}
.label{
    background-color: #202020 !important;
}
.logo{
    max-width: 50px;
    margin-right: 10px;
}
.active-side-nav{
    border-left: 6px solid rgb(255,112,67);
    background-color: rgba(152, 91, 67, .45);
    transition: border-left 400ms ease-in-out;
}

.material-icons.md-10 { font-size: 10px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-30 { font-size: 30px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }


.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #565454;
}
.scrollbar::-webkit-scrollbar {
    width: 10px;
}
.scrollbar::-webkit-scrollbar-track {
    background-color: #696969;
}
.md-headline-xl{
    font-size:180px;
    font-weight: 900;
}
.md-italic{
    font-style: italic;
    
}
.md-headline-xxl{
    font-size: 100px;
    font-weight: 100;
}
.md-content-height{
    min-height: 90vh;
    background-color: rgba(48, 48, 48, .95) !important;
}
.hover-pointer{
    cursor:pointer;
    outline: 0px;
}

.rotate-chevron{
    transform: rotate(90deg);
    transition: transform 250ms ease-in-out;    
}
.unrotate-chevron{   
    transition: transform 250ms ease-in-out;    
}
.loss-icon{
    transform: rotate(180deg);
}
.rotate-icon{
    transform: rotate(225deg);
    transition: transform 500ms ease-in-out;    
}
.unrotate-icon{
    
    transition: transform 500ms ease-in-out;    
}
.coindb-card{
    border: 1px solid rgba(255, 255, 255, 0.05);    
}
.minor-metric{
    font-size: 54px;
    font-weight: 100;
}
.status-bar-padding{
    padding:5px;
}
.center{
    text-align: center;
}
/* .md-avatar{
    filter: grayscale(100%)
} */
.channel-metrics-container{
    margin: 10px;
}
.title{
    color:white;
}
.button-correction{
    margin-top:20px !important;
}
md-list{
    padding: 0px !important;
}
.no-margin{
    margin: 0px !important;
}
footer{
    margin-top:40px;
}
md-bottom-sheet {
    background-color: rgb(45, 45, 45) !important;
    border-top-width: 0px !important;
}
.settings-button-padding{
    padding-top: 20px;
    padding-bottom: 20px;
}
.db-button{
    border: 3px solid white !important;
    border-radius: 20px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    background-color: transparent  !important;
    color:white  !important;
}






.right-margin-correction{
    margin-right: 15px;
}

.weight-300{
    font-weight:300;
}
.weight-900{
    font-weight:900;
}


